.search-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1.25rem;
    color: var(--grey);
    background-color: var(--darkgrey);
    gap: 1rem;
    width: 86%;
    border-radius: 1.32rem;
    
}
.search-flex input{
    background-color: var(--darkgrey);
    color: var(--grey);
    font-family: 'Inter';
    font-size: 0.8rem;
    border: none;
    width: 100%;

}
.search-flex input:focus{
    outline: none;
}