.coinInfo-desc,.coinInfo-heading{
    margin: 1.5rem !important ;
    padding: 0.5rem;
}
.coinInfo-desc a{
  
    text-decoration: underline !important;
    text-decoration-color: var(--Orange) !important;
    font-weight: bolder !important;

}
.coinInfo-desc a:hover{
    color: var(--Orange) !important;
    text-decoration: none !important;
    

}