.coinInfo-desc{
    margin: 1.5rem 1rem !important ;
    padding-bottom: 1rem;
}
.coinInfo-heading{
margin: 1rem;
    padding-top: 1rem;
}
.coinInfo-desc a{
  
    text-decoration: underline !important;
    text-decoration-color: var(--Orange) !important;
    font-weight: bolder !important;

}
.coinInfo-desc a:hover{
    color: var(--Orange) !important;
    text-decoration: none !important;
    

}
.read-more{
    color:var(--grey);
    cursor:pointer;

}
.read-more:hover{
    color: var(--Orange);
}