.select-days{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    
   
}

@media screen and (max-width:700px) {
    .title-select{
        font-size: 0.8rem !important;
    }
}