.grid-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
}
.list-table{   
    width: 99% !important;
    padding: 1.5rem;    
}

@media screen and (max-width: 768px){

  .list-table{
   padding: 0.5rem;
    display: block;
  }
}